/* .component{
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;
} */

/*^ ====[Global style]==== */

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.b-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 16px;
}

.container {
  width: 75%;
  background-color: brown;
  height:400px;
}

.left {
  background-color: #09c;
}
.right{
    background-color:#6ba
}
